<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <system.serviceModel>
    <services>
      <service behaviorConfiguration="FileUploadServiceBehavior" name="WcfHostService.FileUploadService">
        <endpoint address="" behaviorConfiguration="web"
                  binding="webHttpBinding"
                  bindingConfiguration="FileUploadServiceBinding"
                  contract="WcfHostService.IFileUploadService">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8081/FileUploadService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <extensions>
      <behaviorExtensions>
        <add name="CorsEnableBehavior"
             type="WcfHostService.CorsEnableBehavior, WcfHostService, Version=1.0.0.0, Culture=neutral" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
          <CorsEnableBehavior />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="FileUploadServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding  >
        <binding name="FileUploadServiceBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
                 receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                 bypassProxyOnLocal="false" maxBufferPoolSize="2147483647"
                 maxReceivedMessageSize="2147483647" useDefaultWebProxy="true"
                 transferMode="Streamed"
                 maxBufferSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None"></security>
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>